    {{>navbar}}
      <!-- contact -->
      <div class="contact">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Contact Us</h2>
                  </div>
               </div>
               <div class="col-md-10 offset-md-1 ">
                  <form id="request" class="main_form" method="post" action="/send" enctype="multipart/form-data">
                     <div class="row">
                        <div class="col-md-6 ">
                           <input class="contactus" placeholder="Full Name" type="text" name="name" value="aaa"> 
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Email" type="email" name="email" value="k.sydaphasavanh@gmail.com">                          
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Phone Number" type="phone" name="phone" value="0000000000">                          
                        </div>
                        <div class="col-md-6">
                           <textarea class="textarea" placeholder="Message" type="textarea" Message="message" name="message" >MESSAGE</textarea>
                        </div>
                        <div class="col-md-6">
                           <input type="file" name="fs" class="">
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- contact -->  

