      {{>navbar}}
      <!-- honey_bg -->
      <div class="honey_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Our Shop</h2>
                  </div>
               </div>
               <div class="col-sm-12">
                  <figure><img class="img_responsive" src="images/honet_img.png" alt="#"/></figure>
               </div>
            </div>
         </div>
      </div>
      <!-- end honey_bg -->